form {
border: 3px solid #f1f1f1;
width: 30%;
box-sizing: border-box; 
}
input[type=text] {
width: 100%;
height: 100px;
padding: 12px 20px;
margin: 8px 0;
display: block;
border: 1px solid #ccc;
box-sizing: border-box; 
}
button {
background-color: #4caf50;
color: #fff;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 25%;
text-align: center;
} 
button:hover {
 opacity: 0.8; 
} 
.formbox {
    border: 2px solid gray;
    padding: 10px;
}
h3 {
    font-weight: normal;
}
select {
    overflow: hidden;
}
/* .cancelbtn { 
 width: auto; 
 
 background-color: #f44336; 
}  */
/* 
input[type=reset] { 
 color: #fff; 
 border: none; 
 padding: 10px 18px; 
} 
*/ 
/* .imgcontainer { 
 text-align: center; 
 margin: 24px 0 12px 0; 
} 
.avatar { 
 border-radius: 50%; 
} 
 */
span.psw { 
 float: right; 
 padding-top: 16px; 
 padding-right: 5px; 
} 
 
a { 
 color: #993300; 
} 
.label { 
 font-weight: bold; 
}  
.bottom {
 background-color:#f1f1f1; 
 margin-top: 10px; 
} 