body {
    background-color: #fff;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(#fff, #90c7e3);
}
header {
    background-color: #000;
    color: #fff;
    background-image: url(images/suns.jpg);
    background-repeat: no-repeat;/*brak powtarzania obrazka*/
    background-position: center;
    background-size: cover;
    /* height: 150px; */
    line-height: 400%;/* wysokosc linii nie ma problemu z wysrodkowywaniem tekstu*/
    text-indent: 1em;
}
nav {
    background-color: #bbdefb;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    opacity: 0.7;
    text-shadow: 1px, 1px, 2px, #000;
}
h2  {
    color: #1976d2;
    text-shadow: 2px, 1px, #ccc;
}
h3 {
    color: #002171;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.resort {
    color: #1976d2;
}
footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 75%;
    font-style: inherit;
    text-align: center;
    padding: 20px;
}
nav a { /*tylko linki wewnatrz nav*/
    font-weight: bold;
    text-decoration: none;
}
/* .test {
    color: red;
}
#proba {
    background-color: lime;
} */
#contact {
    font-size: 90%;
}
#box {
    width: 80%;
    max-width: 1500px;
    margin: auto;
    background-color: #fff;
    box-shadow: 3px 3px 3px #666;
}
main {
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
main p {
    text-align: justify;
}
nav {
    background-color: #fff;
    text-align: center;
    padding: 10px;
    height: 50px;
}
a {
    padding-left: 20px;
    padding-right: 20px;
    color: #333;
    font-size: 20px;
    display: inline-block;
    line-height: 40px;
    text-shadow: 1px 1px 1px #ccc;
}
nav a:hover {
    color: #ccc;
    border: 1px, solid, #ccc;
    text-shadow: 1px 1px #666;
}
ul {
    list-style-type: none;
}
li::before {
    content:'\2022';
    color: deepskyblue;
    margin-right: 0.5em;
}
address {
    margin-top: 60px;
    margin-bottom: 20px;
}
#Bigphoto1 {
    background-image: url(images/balloon.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
    width: 100%;
}
#Bigphoto2 {
    background-image: url(images/balloon2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
    width: 100%;
}