.active {
    display: block !important;
}
.longer {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    padding: 10px;
}
a {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: gray;
    padding: 10px;   
    text-decoration: none; 
    font-weight: bold;
}