/* #box1, #box2 {
    width: 150px;
    height: 150px;
}
#box1 {
    background-color: bisque;
}
#box2 {
    background-color: brown;
    position: absolute;
    top: 0;
    left: 80%;
    display: none;
}
#mainbox {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    position: relative;
} */
nav {
    background-color: white;
}
nav a {
    font-family: 'Times New Roman', Times, serif;
    color: gray;
    font-size: 30px;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
}
nav a + a{
    border-left: 2px solid gray;
}
nav a:hover{
    color: blue;
}
figure {
    position: relative;
    float: inline-start;
}
figcaption {
    border: 2px dotted black;
    width: 120px;
    height: 120px;
    left: 50%;
    top: 50%;
    display: none;
    position: absolute;
    background-color: azure;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: green;
    text-align: center;
}
figure:hover figcaption{
    display: block;
}
a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
figcaption a:hover {
    text-decoration: underline;
}
