#white {
    width: 60px;
    height: 60px;
    border: 1px solid #000;
    margin-bottom: 20px;
}
.green {
    background-color: green;
}
#orange {
    width: 60px;
    height: 60px;
    border: 1px solid #000;
    border-radius: 3px 0px 3px 0px;
    margin-bottom: 20px;
    background-color: orange;
}