/* img {
  clip-path: polygon(0% 0%, 0% 100%, 100% 80%, 100% 20%);
} */
/*zdjecie przyciete do trapezu*/
 /* position: fixed; -- żeby sie nie scorllował razem ze stroną */
#menuList {
  padding-left: 0px;
  margin-top: 0px;
}
#menuList li a{
  text-decoration: none;
  color: black;
}
#menuList li{
  list-style-type: none;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
#menuList li + li{
  border-top: 2px solid white;
}
#menu {
  width: 13%;
  height: 80%;
  position: fixed;
  background-color: gray;
  left: 1%;
  top: 3%;
  border: 2px solid rgb(78, 77, 77);
  border-radius: 5px;
  padding-left: 5px;
  margin-left: 5px;
}
body {
  position: relative;
  background-image: url("images/edit_nor_05.jpg");
}
.menuIcon {
  width: 50px;
  height: 45px;
  background-color: transparent;
}
.hidden {
  display: none;
}
#Logo {
  width: 200px;
  height: 200px;
  top: 5%;
  left: 45%;
  position: fixed;
  clip-path: circle(50%);
}
p {
  font-size: 100px;
}
h2 {
  font-size: 50px;
  top: 45%;
  left: 35%;
  position: fixed;
  color: white;
}
h2:hover {
  font-size: 80px;
  top: 40%;
  left: 30%;
}