footer {
    height: 50px;
    text-align: center;
    padding-top: 5px;
    margin-top: 10px;
    border-radius: 1000px;
}
hr {
    color: black;
    border: 1px solid black;
    width: 450px;
}
h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: rgb(200, 82, 42);
    text-align: center;
    text-shadow: 2px 2px 2px black;
}
header {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 2px 2px 2px black;
    background-image: url(img/beach.jpg);
    background-repeat: no-repeat;/*brak powtarzania obrazka*/
    background-position: center;
    background-size: cover;
    height: 100px;
    text-shadow: 10px;
    padding: 2px;
    /* line-height: 400%; */
}
ul {
    list-style-type: none;
    text-decoration: underline;
}
ul li a {
    color: brown;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
}
ul li {
    margin-top: 10px;
    font-size: 20px;
}
section {
    display: flex;
}
article {
    padding: 10px;
}
#box {
    background-color: rgb(243, 238, 234);
    flex-wrap: wrap;
}
article:nth-of-type(1) {
    margin-top: 20px;
    flex: 2 50px;
    border-top-right-radius: 5px;
    border-top: 2px groove brown;
    border-right: 2px groove brown;
    margin-right: 5px;
}
article:nth-of-type(3) {
    flex: 1 400px;
    box-shadow: 3px 3px 3px brown;
    padding-bottom: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;    
    margin-right: 5px;
}
article:nth-of-type(3) p:first-letter  {
    border: 1px solid black;
    font-size: 20px;
}
@media only screen and (max-width:600px) {
    header {
        height: 30px;
        padding: 0px;
    }
    h1 {
        font-size: 20px;
        padding: 0px;
    }
    section {
        flex-direction: column;
    }
}